<%= render partial: "messages/errors", locals: { errors: @message.errors.full_messages } %>

<div id="chatbox">
  <div class="message-list">
    <%= turbo_stream_from "messages" %>
    <div id="messages">
      <%= render @messages %>
    </div>
  </div>
</div>

<%= render partial: "messages/form", locals: { message: @message } %>
