@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  background-image: url("background.png");
  background-size: cover;
}

@layer components {
  .title {
    @apply text-2xl font-bold mr-auto;
  }

  .btn {
    @apply text-white font-bold py-2 px-4 rounded-full
             hover:bg-[#b425ff]
             disabled:opacity-80 disabled:cursor-not-allowed;
    background: #875afe;
  }

  #username {
    @apply bg-gray-200 appearance-none border-2 border-gray-200 py-2 px-4 mr-2 text-gray-700 leading-tight rounded-lg
             focus:outline-none focus:border-[#b425ff] focus:bg-white;
  }

  #chatbox {
    @apply w-full h-[42rem] bg-white mb-6 flex rounded-lg drop-shadow-2xl;
  }

  .message-list {
    @apply w-full m-5 overflow-y-scroll flex flex-col-reverse;
  }

  .message {
    @apply h-fit;
  }

  .message .timestamp {
    @apply text-gray-500 w-4;
  }

  .message .username {
    @apply text-red-500;
  }

  #message-form {
    @apply relative;
  }

  .new-message {
    @apply w-[95%] rounded-l-full rounded-lg drop-shadow-2xl px-6;
  }

  .btn-submit {
    @apply bg-blue-500 h-[42px] float-right cursor-pointer absolute right-0;
  }

  .btn-submit:hover {
    @apply bg-blue-600;
  }

  #errors ul {
    @apply w-full bg-red-500 rounded-lg p-2 px-4 mb-4 text-white;
  }
}
